# Binaries
bin/
*.exe
*.out

# Go
vendor/
go.mod/

# IDE
.idea/
.vscode/
*.iml

# Env
.env

# Docker
docker-compose.override.yml

#json
body.json
ecommerce.postman_collection.json

# OS
.DS_Store
Thumbs.db
